<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>19/06/16 20:23:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runners.MainRunner@69ea3742]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1204903782</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/06/16 20:23:57</td>   <td>321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainRunner.iniciarTudo(core.Propriedades$Browsers, core.Propriedades$TipoExecucao, core.Propriedades$Ambientes)[pri:0, instance:runners.MainRunner@69ea3742]">&gt;&gt;iniciarTudo</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1204903782</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/06/16 20:23:57</td>   <td>322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runners.MainRunner@69ea3742]">feature</td> 
  <td>TestNG-tests-1@1204903782</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/06/16 20:23:57</td>   <td>354</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runners.MainRunner@69ea3742]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1204903782</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/06/16 20:23:57</td>   <td>403</td> <td title="&lt;&lt;MainRunner.finalizartudo()[pri:0, instance:runners.MainRunner@69ea3742]">&lt;&lt;finalizartudo</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
</table>
