<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cucumber Framework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>19/05/19 12:31:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runners.MainRunner@cb644e]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/05/19 12:31:10</td>   <td>640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runners.MainRunner@cb644e]">feature</td> 
  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/05/19 12:32:12</td>   <td>62731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runners.MainRunner@cb644e]">feature</td> 
  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/05/19 12:33:13</td>   <td>123932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runners.MainRunner@cb644e]">feature</td> 
  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/05/19 12:34:43</td>   <td>213847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runners.MainRunner@cb644e]">feature</td> 
  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/05/19 12:35:52</td>   <td>283110</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runners.MainRunner@cb644e]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/19 12:35:52</td>   <td>283206</td> <td title="&lt;&lt;MainRunner.finalizartudo()[pri:0, instance:runners.MainRunner@cb644e]">&lt;&lt;finalizartudo</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
</table>
